* {margin: 0; padding: 0;}
body {padding: 30px; display: flex;}

h1 {
    color: limegreen;
    text-align: center;
}

textarea {
    resize: none;
    width: 600px;
    height: 100px;
}

#queryBox {
    display: inline-grid;
}

#main {
    margin: auto;
}